- user = @blog.user || User.new
.box.left
  .item-detail
    .item-head
      .left
        =link_to image_tag(user.avatar.url(:thumb)), user_path(user.id)
      .right
        =link_to @blog.title, blog_path(@blog)
        %ul.tag
          - for tag in @blog.tags
            %li=link_to tag, blog_tags_path(tag)
        .bottom= time_ago_in_words @blog.created_at
    .item-body
      = raw @blog.text
